---
import { getCollection } from "astro:content";
import Page from "../../layouts/page.astro";

export async function getStaticPaths() {
  const cells = await getCollection("cells");
  return cells.map((cell) => ({
    params: { cell_id: cell.data.cell_id },
    props: { cell: cell.data },
  }));
}

const { cell } = Astro.props;
---

<Page data={cell}>
  <li><span>Class</span> Lymphocyte</li>
  <li>
    <span>Surface Markers</span>
    {
      cell.markers.map((m, i) => (
        <Fragment>
          {i > 0 && ", "}
          <a href={"/marker/" + m.id}>{m.name}</a>
        </Fragment>
      ))
    }
  </li>
</Page>
