---
import cytokines from "../../../data/cytokines.json";
import Page from "../../layouts/page.astro";

export async function getStaticPaths() {
  return cytokines.map((cytokine) => ({
    params: { cytokine_id: cytokine.cytokine_id },
    props: { cytokine },
  }));
}

const { cytokine } = Astro.props;
---

<Page data={cytokine}>
  <li><span>Class</span> Class</li>
</Page>
