---
import markers from "../../../data/markers.json";
import Page from "../../layouts/page.astro";

export async function getStaticPaths() {
  return markers.map((marker) => ({
    params: { marker_id: marker.marker_id },
    props: { marker },
  }));
}

const { marker } = Astro.props;
---

<Page data={marker}>
  <li><span>Class</span> Class</li>
</Page>
