---
import { getCollection } from "astro:content";
import Page from "../../layouts/page.astro";

export async function getStaticPaths() {
  const transcription_factors = await getCollection("transcription_factors");
  return transcription_factors.map((tf) => ({
    params: { transcription_factor_id: tf.data.transcription_factor_id },
    props: { transcription_factor: tf.data },
  }));
}

const { transcription_factor } = Astro.props;
---

<Page data={transcription_factor}>
  <li><span>Class</span> Class</li>
</Page>
