---
import Search from "astro-pagefind/components/Search";
import Layout from "../layouts/layout.astro";
---

<Layout title="ImmunoDB">
  <main>
    <Search id="search" uiOptions={{ showImages: false }} />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    max-width: 900px;
  }
  :root {
    --pagefind-ui-border: black;
  }
</style>
