---

---

<footer>
  <p>G Roubos, MD — 2025</p>
</footer>

<style>
  footer {
    justify-items: center;
    background-color: #d9d9d9;
    height: 30px;
  }
  p {
    margin: 0;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
  }
</style>
