---

---

<footer>
  <span>G Roubos, MD — 2025</span>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    height: 30px;
  }
  span {
    font-size: 10px;
    height: 30px;
    line-height: 30px;
  }
</style>
