---

---

<header>
  <div class="wrapper">
    <div class="logo">
      <a id="home" href="/immunodb/">
        <img src="/immunodb/favicon-32x32.png" alt="ImmunoDB logo image" />
      </a>
    </div>
    <nav>
      <a id="explore" href="/immunodb/explore">Explore</a>
      <a id="random" href="/immunodb/random">Random</a>
    </nav>
  </div>
</header>

<style>
  header {
    box-shadow: 0 1px 2px 0px #00000040;
    border-bottom: 1px solid #9f9f9f;
    background-color: #f3f3f3;
    height: 30px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  @media (min-width: 320px) {
    .wrapper {
      width: 90%;
      margin: auto;
    }
  }

  @media (min-width: 900px) {
    .wrapper {
      width: 800px;
    }
  }
  .logo {
    margin-top: 4px;
  }

  header img {
    width: 26px;
  }

  nav a {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 12px;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
    font-size: 16px;
  }
</style>
