---
import Table from "./table.astro";

const { data } = Astro.props;
---

<div>
  <Table data={data} />
</div>

<style>
  div {
    border: 1px solid #9f9f9f;
    background-color: #f3f3f3;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0px #00000040;
  }

  h2 {
    margin: 20px 35px;
    font-weight: 300;
  }
  span {
    font-weight: 600;
  }

  @media (min-width: 320px) {
    div {
      float: none;
      width: 90%;
      margin: 5%;
    }
  }

  @media (min-width: 900px) {
    div {
      margin: 0;
      float: left;
      width: 360px;
      margin-right: 20px;
    }
  }
</style>
