---
const { title } = Astro.props;
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/immunodb/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/immunodb/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/immunodb/favicon-16x16.png"
    />
    <link rel="manifest" href="/immunodb/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="8e513b2d-3995-4305-be88-0ca45d971cb5"></script>
  </head>
  <body>
    <Header />
    <div id="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  html {
    background-color: #f3f3f3;
  }

  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  #content {
    flex: 1;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 5%;
  }

  @media (min-width: 900px) {
    #content {
      padding: 30px 0;
    }
  }
</style>
