---
import Infobox from "../components/infobox.astro";
import References from "../components/references.astro";
import Layout from "./layout.astro";

const { data } = Astro.props;
---

<Layout title={data.name + " - ImmunoDB"}>
  <article data-pagefind-body>
    <h1>{data.name}</h1>
    <hr />
    <Infobox data={data.infobox} />

    <p>{data.description}</p>
  </article>
  <References refs={data.refs} />
</Layout>

<style>
  hr {
    margin-bottom: 20px;
  }
  article {
    overflow: auto;
  }
  li {
    list-style: none;
  }
  span {
    font-weight: 600;
  }
</style>
